@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<br />
<br />
<div>
    <a asp-controller="Home" asp-action="NewMovie">Add a Movie</a>
    <br />
    <img src="https://dl.boxcloud.com/api/2.0/internal_files/908099177363/versions/978098006963/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!5r3zCptaI4yHmuyf_fPRht_e-L_VZNODdUuRppTVLR9ZOSvj6A05Owpmp1CQll_39vibgvW8Dy6hhopCgh1mYUyZVR14qPs0fTo3r1BSe30aNQpodeTf0mM6fH9Dslsu41LvT9ZwTN2xMyllzh6iWVG5bSCj4oSJTuM5jmjpeQktPTzv-6nq4e5LBd0tGciRcDTrJf1Emk2O9baqwhwm6B5WfzHGQtYJR-NKpXCIpmAXw0qIvIVSeGLfwOETMUCyQDIiCQ6juJDzvqVlLRcF6mAkCiJY9e2nkNdUzQ0UnAAhGjEZjevOBn1RNuewPjLyWG8Q0KbvCGX94QsHibV6Z4Md17GkI7zP2f5mzNCtqWZ0JxcPbYgJwLgWA3QaAymePAoBww-90vIqvhkxWj1YMlKkWFwOGJV-w_I0C7WKXATWcuQW-zONvLxCj92cu_ce3xEMovZoGkNO1ePZN_xM0Trjj8A2tSNwo3kfUbg0JlAOb-GscwR1l1GKlhnt8lHtu1MFo7VeNk59SQGjdAyWct81LZhTloMUxaFsFtWsNdXIV8GUnhVsyR2ZtZ0nAIKhdxRYgTvfs9rDNuUkYwFcq3wfuIbf78YQVSvMpjp_fZUQb2sibZw4HgwyWi2UeN4WMomYzV_B4dvQapI07a7zAWEiyOK6Iu4aePMwE3BvlURbP8gX7I3hqVVK5303BYMhSE9th5o-wOOVp3i6Zehtqbou2bQCRrp4yRGt1qzETrEHztR1fw..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2F8sjz2qei13h4nnlw0e6gc10ot35octkf&box_client_name=box-content-preview&box_client_version=2.90.0" />
</div>
