@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<br />
<br />
<div>
    <a asp-controller="Home" asp-action="NewMovie">Add a Movie</a>
    <br />
    <img src="~\wwwroot\JoelHiltonHeadshot.jpg" />
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>